<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PASMO | High Risk Zones Mappings</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="all"/>

    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<body ng-app="PasmoApp">
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PASMO | High Risk Zones Mappings</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="surveys.list">Surveys</a></li>
                        <li><a ui-sref="locations.list">Locations</a></li>
                    </ul>

                </div>
             </div>
        </nav>
    </header>
    <div class="spaced-row">
        <div class="col-md-12">
            <div class="content-panel" ui-view>
                <h1>PASMO High Risk Zones Mappings</h1>
            </div>
        </div>
    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/vendors/js/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="/app/pasmo-min.js"></script>

</body>
</html>