<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ratpack: OAuth Example</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<main class="rp-docs-masthead" role="main">
    <div class="container">
        <p class="lead">
            <h1>PASMO Belize</h1>
        High Risk Zone Mappings
        </p>
        <p class="lead">
        <h4>
            <a href="/admin/app" class="btn btn-outline-inverse btn-lg">Vist Secure Page</a>
        </h4>
        </p>
    </div>
</main>
</body>
</html>