<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ratpack: OAuth Example</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<main class="rp-docs-masthead" role="main">
    <div class="container">
        <p class="lead">
            <img src="/images/ratpack-logo.png"/>
        <h1>Ratpack Oauth Example</h1>
        </p>
        <p class="lead">
            <h2>Welcome $model.userName to a secure page!</h2>
        </p>
        <p class="lead">
            <a href="/admin/logout" class="btn btn-outline-inverse btn-lg">Logout</a>
        </p>
    </div>
</main>
</body>
</html>
