<div class="form-group">
    <label class="col-sm-2 control-label"></label>
</div>
<div class="form-group">
    <label for="location" class="col-sm-3 control-label">Location</label>
    <div class="col-sm-5">
        {{ survey.location.name }}
    </div>
</div>
<div class="form-group">
    <label for="condoms" class="col-sm-3 control-label">Condoms Available</label>
    <div class="col-sm-5">
        <input type="checkbox" ng-model="survey.condomsAvailable"></input>
    </div>
</div>
<div class="form-group">
    <label for="lube" class="col-sm-3 control-label">Lube Available</label>
    <div class="col-sm-5">
        <input type="checkbox" ng-model="survey.lubesAvailable"></input>
    </div>
</div>
<div class="form-group">
    <label for="gigi" class="col-sm-3 control-label">GIGI</label>
    <div class="col-sm-5">
        <input type="checkbox" ng-model="survey.gigi"></input>
    </div>
</div>